html {
    background-color: #002f44;
    color: white;
}

.hero {
    background-color: #002f44;
}

.menu-button {
    color: white;
    margin-right: 15px;
}

#top-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    min-height: 60px;
    color: rgba(255, 255, 255, 0.8);
    padding: 0px 20px 0px 20px;
    background-color: #002f44;
}

#menu-bar-logo {
    padding: 10px 10px 10px 10px;
    width: 300px;
    height: 60px;
    display: inline-block;
}

.top-image {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.right {
    position: absolute;
    right: 20px;
    top: 14px;
}

#danger-ahead-icon {
    display: none;
}

@media screen and (max-width: 900px) {
    #danger-ahead-image {
        display: none;
    }

    #danger-ahead-icon {
        display: block;
    }
}